.head{
    --color: #6D3C1C; /*Colores utilizados tipicamente por paginas web de rescate por ser calidos y confiables*/
    --texto: #1a1a1a;
    --Fondo: #F7F9FA;
    --Detalles: #C58B4E;

}

.head{
    color: var(--texto);
}

.header{
    color: var(--texto);
    font-size: 16px;
}
.nav{
    color: var(--texto);
    font-size: 24px;
}
